<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>
    <%- include('navbar'); %>
    <div class="hero">
        <div class="hero-wrap">
            <div class="headline-wrap">
                <h1>Hi, I'm Rayok, </h1>
                <div class="highlight-box">
                    <div class="highlight" style="animation-delay: 0.6s;"></div>
                    <h1>Web Designer</h1>
                </div>
                <h1> and </h1>
                <div class="highlight-box">
                    <div class="highlight" style="animation-delay: 1.4s;"></div>
                    <h1>Webflow</h1>
                </div>
                <h1> Developer</h1>
            </div>
        </div>
    </div>
    <%- include('footer') %>
</body>