<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-black fs-4 p-0" href="#">RayokDesign</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link me-5 fs-5 " aria-current="page" href="/">my work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="mailto:hs960411@gmail.com">get in touch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>