:root {
  --bs-font-sans-serif: 'Kanit', sans-serif;
}

.card-img-box {
  padding-bottom:calc(100%/4*3);
  position:relative;
}
.slide-img-box {
  padding-bottom:calc(100%/16*9);
}
.card-img-fit-parent-box {
  position:absolute;
  height:100%;
  max-height:100%;
}

.card-text-box {
  height:5rem;
}

#content .image {
  margin: 1rem auto;
  text-align: center;
}

#content .image.image-style-block-align-left {
  margin: 1rem 0;
  text-align: left;
}

#content .image.image-style-block-align-right {
  margin: 1rem 0;
  text-align: right;
}

#content img {
  max-width: 100%;
}

#content .image-style-align-left {
  float: left;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}
#content .image-style-align-right {
  float: right;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.carousel-indicators{
  bottom: -2.5rem;
}

.edit-btn {
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.upload-group {
  width: calc(100% - 2rem);
  top: 1rem;
  z-index: 2;
}

.dropdown-menu {
  width: calc(100% - 2rem);
}

.navbar-dark .navbar-nav .nav-link {
  color: #f5f5f7;
  opacity: .8;
  transition: opacity 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #f5f5f7;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d6efd;
  opacity: .8;
  transition: opacity 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #0d6efd;
  opacity: 1;
}