<% include ./template/expensesHeader %>
	<div class='container'>
		<table class="table caption-top table-light table-striped table-hover">
			<% if(!auth){%><caption>尚未登入，僅供瀏覽。</caption><%}%>
			<thead>
				<tr>
				<th>Category</th>
				<th>Amount</th>
				<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% for(item in expenses){ %>
					<tr>
						<td class="text-capitalize">
							<%= expenses[item].category %>
						</td>
						<td>
							<%= expenses[item].amount %>
						</td>
						<td>
							<%= expenses[item].date %>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<% if (auth){ %>
	<nav class="navbar fixed-bottom navbar-light bg-light">
		<div class="container-fluid justify-content-center">
			<a href="javascript:;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="bi-plus-circle-fill" style="font-size: 2rem; color:#20c997;"></i></a>
		</div>
	</nav>
	<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
		<div class="offcanvas-header">
			<a href="javascript:;" class="text-decoration-none text-dark"data-bs-dismiss="offcanvas" aria-label="Close">Cancel</a>
			<h5 class="offcanvas-title" id="offcanvasBottomLabel">Add Transaction</h5>
			<a id="linkSub" class="btn text-muted text-decoration-none disabled" href="javascript:;" onclick="document.getElementsByTagName('form')[0].submit();return false;">Save</a>
		</div>
		<div class="offcanvas-body small">
			<form action="/expenses/addtransaction" method="POST">
				<div class="mb-3">
					<label for="amountInput" class="form-label">Amount</label>
					<input name="amount" type="number" class="form-control" id="inputAmount" value="0">
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-inline" name="type" id="income" value="income" checked>
					<label class="form-check-label" for="income">Income</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" class="form-check-inline" name="type" id="expenses" value="expenses">
					<label class="form-check-label" for="expenses">Expenses</label>
				</div>
				<select name="category" id="categoriesIncome" class="form-select mb-3" aria-label="category select">
					<option value="cash">Cash</option>
					<option value="government">Government</option>
					<option value="transfer">Transfer</option>
				</select>
				<select name="category" id="categoriesExpenses" class="form-select d-none mb-3" aria-label="category select" disabled>
					<option value="chicken">Chicken</option>
					<option value="pork">Pork</option>
					<option value="vegetable">Vegetable</option>
				</select>
				<div>
					<input type="date" class="form-control" value="<%-moment(new Date()).format('YYYY-MM-DD')%>" name="date">
				</div>
			</form>
		</div>
	</div>
	<% } %>
	<script src="./javascripts/expenses.js"></script>
	<script src="./javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>