<% include ./template/expensesAuthHeader %>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="name">Name</label>
									<input id="name" type="text" class="form-control" name="name"  maxlength="12" value="" tabindex="1" required autofocus>
									<div id="emailHelp" class="form-text">字數限制為 12</div>
									<div class="invalid-feedback">
										請輸入您的名字
									</div>
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">E-Mail Address</label>
									<input pattern="^[a-z0-9]{1}(\.?[a-z0-9])+@[a-z0-9]+\.[a-z0-9]+(\.[a-z0-9]+)?$" id="email" type="email" class="form-control" name="email" value="" tabindex="2" required>
									<div id="emailHelp" class="form-text">您可以使用英文字母、數字和半形句號</div>
									<div id='emailAlert' class="invalid-feedback">
										<!-- 抱歉！您的使用者名稱的第一個字元必須是 ascii 字母 (a-z) 或數字 (0-9)。
										抱歉！您的使用者名稱的最後一個字元必須是 ascii 字母 (a-z) 或數字 (0-9)。
										抱歉！只能接受字母 (a-z)、數字 (0-9) 和小數點 (.)
										抱歉！您的使用者名稱不能包含連續的小數點 (.)。
										這個使用者名稱已有人使用，請試試其他名稱。 -->
										
									</div>
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="password">Password</label>
									<input pattern="^\S{1}[\w\d\x21-\x2F\x3A-\x40\x5B-\x60\x7B\x7D\x7E]{6,}\S{1}$" id="password" type="password" class="form-control" name="password" tabindex="3" autocomplete="new-password" required>
									<div id="passwordHelp" class="form-text">請您混合使用 8 個字元以上的英文字母、數字和符號</div>
									<div id='passAlert' class="invalid-feedback">
										<!-- 請選用安全強度較高的密碼。建議您混用字母、數字和符號。 -->
							    	</div>
									<div class="form-check mt-2">
										<input class="form-check-input" type="checkbox" tabindex="4" onclick="myFunction()" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											Show Password
										</label>
									</div>
								</div>

								<p class="form-text text-muted mb-3">
									By registering you agree with our terms and condition.
								</p>

								<div class="align-items-center d-flex">
									<button type="submit" class="btn btn-primary ms-auto" tabindex="5">
										Register	
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="/expenses/login" class="text-dark">Login</a>
							</div>
						</div>
					</div>
					</div>
					<% include ./template/expensesAuthFooter %>