<% if(!auth){ %>
<%  var auth=null; %>
<%} %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAYOK EXPENSES</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-icons.css">
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/blog" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img class="bi me-2" src="/icons/bootstrap-logo.svg" width="40" height="32" alt="logo">
          <span class="fs-4">RAYOK EXPENSES</span>
        </a>
        <% if(!auth){%>
        <div class="col-md-3 text-end">
          <a href="/expenses/login" class="btn btn-outline-primary me-2" role="button">登入</a>
          <a href="/expenses/register" class="btn btn-primary" role="button">註冊</a>
        </div>
        <%} else{%>
        <div class="col-md-3 text-end">
          <a href="/expenses/logout" class="btn btn-outline-primary me-2" role="button">登出</a>
          <a href="/user" class="btn btn-primary" role="button">個人頁面</a>
        </div>
        <%}%>
      </header>
    </div>