<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="EXCHANGE 支援 155 個國家的貨幣即時匯率轉換，畫面簡潔操作容易，支援響應式頁面，不管是用電腦還是智慧型手機都方便使用。
    此網頁應用程式為 RayokDesign 工作室設計的第一款產品，整合了 Vue 與 Bootstrap，達到匯率即時的運算以及畫面的美觀。">
    <meta name="keywords" content="匯率轉換, 即時匯率, 貨幣轉換, 匯率計算器, 匯率計算機, 即時匯率轉換, 國家貨幣轉換">
    <meta name="author" content="RayokDesign">
    <title>EXCHANGE-貨幣匯率轉換計算器</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu&display=swap" rel="stylesheet">
    <script type="module" crossorigin src="/assets/index.818c6bfe.js"></script>
    <link rel="stylesheet" href="/assets/index.ffa4d2d1.css">
  </head>
  <body>
    <div id="app"></div>
    
    <script src="/src/bootstrap.min.js"></script>
  </body>
</html>
