<%- include('header') %>
<nav class="navbar navbar-light pt-3 mb-4">
    <div class="container">
        <h1><a href="/" class="navbar-brand">RayokTailand</a></h1>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="mb-3 fs-4 fw-bold text-center">註冊成功！驗證信已傳送至您的信箱，驗證後即可使用網站功能。</h2>
            <p class="text-center">
                <a href="/" class="btn btn-primary">回首頁</a>
            </p>
        </div>

    </div>
</div>
<%- include('footer') %>