.calendar-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
}
.calendar-list li{
    width: 14.28%;
    height: 3em;
    line-height: 3em;
    list-style-type: none;
    display: block;
    padding-left:3px;
    padding-right: 3px;
    box-sizing: border-box;
    text-align: center;
}