        <footer class="mt-5 py-3 bg-light text-secondary text-center">
            六角學院後台管理系統
        </footer>
        <!-- JavaScript -->
        <script src="/javascripts/jquery-3.6.0.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/ckeditor.js"></script>
    </body>
</html>
