<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>商務控制後台</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css.map">
        <style>
        .ck-editor__editable_inline {
        min-height: 400px;
        }
        </style>
    </head>
    <body>
