<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Apr 08 2022 22:53:39 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="624be10e7903d8af694c4e7b" data-wf-site="6249a010e2c35a26129c907b" lang="th">
<head>
  <%- include('head'); %>
</head>
<body class="body">
  <%- include('navbar'); %>
  <div class="section top-section wf-section">
    <div class="container">
      <h1 class="about-h1">เกี่ยวกับเรา</h1>
      <div class="columns about w-row">
        <div class="w-col w-col-6 w-col-medium-6">
          <p class="paragraph-4 about">เทพอุดมธรรม ทราเวล เป็นผู้ชำนาญจัดทัวร์แสวงบุญ สังเวชนียสถาน 4 ตำบล อินเดีย เนปาล ประเทศพุทธศาสนาศรีลังกา กราบสักการะพระบรมธาตุเขี้ยวแก้วที่ศรีลังกา บูชา 5 สถานอันศักดิ์สิทธ์ประเทศพม่า  บุโรพุทโธ  บาหลี หลวงพระบาง เวียงจันทร์  นครวัด นครธม</p>
        </div>
        <div class="column w-col w-col-6 w-col-medium-6">
          <div class="about-image-block about-image-1"></div>
        </div>
      </div>
      <div class="columns about reverse w-row">
        <div class="w-col w-col-6 w-col-medium-6">
          <div class="about-image-block about-image-2"></div>
        </div>
        <div class="w-col w-col-6 w-col-medium-6">
          <p class="paragraph-4 about">นอกจากนั้นยังชำนาญเส้นทางท่องเที่ยวสถานที่สวยงามอื่นๆ ในประเทศอินเดีย เนปาล ศรีลังกา พม่า อีกด้วย</p>
        </div>
      </div>
      <div class="columns about w-row">
        <div class="w-col w-col-6">
          <p class="paragraph-4 about">เทพอุดมธรรม ทราเวล มีหัวทัวร์ดูแลตลอดเส้นทาง ด้วยทีมงานมืออาชีพ บรรยายพุทธประวัติ เส้นทางเดินเผยแผ่ศาสนาตามเส้นทาง ท่านจะได้รับรู้ถึงประวัติสถานที่นั่นๆ ว่ามีส่วนเกี่ยวข้องกับพระพุทธศาสนาอย่างไร</p>
        </div>
        <div class="w-col w-col-6">
          <div class="about-image-block about-image-3"></div>
        </div>
      </div>
      <div class="columns about reverse w-row">
        <div class="w-col w-col-6">
          <div class="about-image-block about-image-4"></div>
        </div>
        <div class="w-col w-col-6">
          <p class="paragraph-4 about">เรามีประสบการณ์ในเส้นทางดังกล่าวสิบกว่าปี เราจึงยินดี รับจัดกรุ๊ปท่องเที่ยวพุทธศาสนา แสวงบุญตามเส้นทางดังกล่าว เป็นกรุ๊ปเหมา กรุ๊ปส่วนตัว อย่างมืออาชีพ</p>
        </div>
      </div>
      <div class="columns about w-row">
        <div class="w-col w-col-6">
          <p class="paragraph-4 about">เทพอุดมธรรม ทราเวล มีพันธสัญญาที่จะพาผู้มีจิตศรัทธาที่มีความประสงค์เดินทาง ปลูกศรัทธาในพระพุทธศาสนา เพื่อแสวงบุญ ณ ดินแดนพุทธภูมิ สถานที่สำคัญที่เกี่ยวข้องกับพระพุทธศาสนา ในรูปแบบทัวร์แสวงบุญ และท่องเที่ยว ยังประเทศอินเดีย เนปาล พม่า ศรีลังกา บุโรพุทโธ บาหลี นครวัด นครธม หลวงพระบาง เวียงจันทร์</p>
        </div>
        <div class="w-col w-col-6">
          <div class="about-image-block about-image-5"></div>
        </div>
      </div>
      <div class="columns about reverse w-row">
        <div class="w-col w-col-6">
          <div class="about-image-block about-image-6"></div>
        </div>
        <div class="w-col w-col-6">
          <p class="paragraph-4 about">เทพอุดมธรรม ทราเวล เน้นการให้บริการตามความต้องการทุกความต้องการของท่าน เน้นคุณภาพการให้บริการในทุกๆ ทริป การอุปฐากครูบาอาจารย์ที่ทางคณะแสวงบุญได้นิมนต์ ร่วมเดินทาง เป็นจุดเด่นสำคัญยิ่งที่ทางเรา ให้ความสำคัญอย่างสูงสุด นอกจากนี้ยังยึดหลัก ความสะดวกสบาย ความเอาใจใส่ในบริการ ให้สมกับที่ทุกท่านได้เสียสละ กำลังทรัพย์ เวลา และร่างกายร่วมเดินทางไปกับเรา แล้วท่านจะประทับใจมิรู้ลืม..</p>
          <p class="paragraph-4 about">เทพอุดมธรรม ทราเวล รอโอกาสรับใช้ท่านด้วยความกระตือรือร้นอยู่เสมอ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner" style="height: 33rem;">
          <div class="carousel-item h-100 active">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="carousel-item h-100">
            <iframe class="d-block w-100 h-100" src="https://www.youtube.com/embed/OBaiq3hwVeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); %>
</body>
</html>