<div class="section">
  <div class="container">
    <div class="row mb-3">
      <div class="d-lg-flex text-center col-lg-4">
        <a href="/" class="d-block mb-3 me-lg-3"><img src="/images/logo_220410.svg" alt="logo"></a>
        <div>
          <p>บริษัท เทพอุดมธรรม ทราเวล แอนด์ ฮอลิเดย จาดต็53/15 หมู่ 2 ต.ขุนแก้ว อ.นครชัยศรี นครปฐม 73210</p>
          <a id="rd-sign-in-btn" href="/login" class="btn btn-primary">เข้าสู่ระบบ</a>
          <button id="rd-sign-out-btn" class="btn btn-secondary">ออกจากระบบ</a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="list-group list-group-flush">
          <h5 class="list-group-item pt-0">เมนู</h5>
          <a href="/" class="list-group-item list-group-item-action">หน้าหลัก</a>
          <a href="/about" class="list-group-item list-group-item-action">เกี่ยวกับ</a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="list-group list-group-flush">
          <h5 class="list-group-item pt-0">ข้อมูลเพิ่มเติม</h5>
          <a href="/" class="list-group-item list-group-item-action">ข้อตกลงและเงื่อนไข</a>
          <a href="/about" class="list-group-item list-group-item-action">นโยบายความเป็นส่วนตัว</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="list-group list-group-flush">
          <h5 class="list-group-item pt-0">ติดต่อเรา</h5>
          <a href="https://www.facebook.com/thepudomthamtour/" target="_blank" class="list-group-item pt-0 mb-0 d-flex align-items-center">
            <img src="../images/facebook-icon.svg" alt="facebook-icon" class="me-2">
            <div class="text-block-4 footer">thepudomdham</div>
          </a>
          <a href="https://line.me/ti/p/9-XQCrX1Hs" target="_blank" class="list-group-item mb-0 d-flex align-items-center">
            <img src="../images/line-icon.svg" alt="line-icon" class="me-2">
            <div class="text-block-4 footer">LINE ID: 0944419574</div>
          </a>
          <a href="https://www.instagram.com/thepudomdham_travel" target="_blank" class="list-group-item d-flex align-items-center">
            <img src="../images/instagram-icon.svg" alt="instagram-icon" class="me-2">
            <div class="text-block-4 footer">thepudomdham_travel</div>
          </a>
          <a href="tel:+66944419574" class="list-group-item d-flex align-items-center">
            <img src="../images/phone-icon.svg" alt="phone-icon" class="me-2">
            <div class="text-block-4 footer">094-441-9574</div>
          </a>
          <a href="mailto:thepudomdham@gmail.com" class="list-group-item d-flex align-items-center">
            <img src="../images/email-icon.svg" alt="email-icon" class="me-2">
            <div class="text-block-4 footer">thepudomdham@gmail.com</div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">Copyright © 2022 Thep Udom Dham Travel and Holiday Co., Ltd.<br>‍All rights reserved.</div>
      </div>
    </div>
  </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>