<meta charset="utf-8">
<title><%- title %></title>
<meta content="India" property="og:title">
<meta content="India" property="twitter:title">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="Webflow" name="generator">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="/images/favicon.svg" rel="shortcut icon" type="image/x-icon">
<link href="/images/webclip.svg" rel="apple-touch-icon">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/rayokdesign.css">