<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Apr 08 2022 22:53:39 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6249a010e2c35a4ee39c907c" data-wf-site="6249a010e2c35a26129c907b" lang="th">
<head>
  <meta charset="utf-8">
  <title>ทพอุดมธรรม ทราเวล</title>
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" name="description">
  <meta content="ทพอุดมธรรม ทราเวล" property="og:title">
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" property="og:description">
  <meta content="https://uploads-ssl.webflow.com/6249a010e2c35a26129c907b/6252b549284d5bda88218036_%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%81%E0%B9%8A%E0%B8%AD%E0%B8%9B%E0%B8%9B%E0%B8%B5%E0%B9%89%E0%B8%A5%E0%B8%B4%E0%B9%89%E0%B8%87.jpg" property="og:image">
  <meta content="ทพอุดมธรรม ทราเวล" property="twitter:title">
  <meta content="รับจัดทัวร์แสวงบุญอินเดีย เนปาล ศรีลังกา พม่า กรุ๊ปเหมา กรุ๊ปส่วนตัว กรุ๊ปท่องเที่ยวอินเดีย เนปาล ศรีลังกา บาหลี นครวัด นครธม หลวงพระบาง" property="twitter:description">
  <meta content="https://uploads-ssl.webflow.com/6249a010e2c35a26129c907b/6252b549284d5bda88218036_%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%81%E0%B9%8A%E0%B8%AD%E0%B8%9B%E0%B8%9B%E0%B8%B5%E0%B9%89%E0%B8%A5%E0%B8%B4%E0%B9%89%E0%B8%87.jpg" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="/images/favicon.svg" rel="shortcut icon" type="image/x-icon">
  <link href="/images/webclip.svg" rel="apple-touch-icon">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/rayokdesign.css">
</head>
<body>
  <%- include('navbar'); %>
  <div class="section hero-title-section wf-section">
    <div class="container text-primary text-center">
      <span class="fs-5">สิ่งที่คุณต้องการคือเทพอุดมธรรม</span>
      <h1>เที่ยวกับมืออาชีพ เที่ยวกับเรา</h1>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%AD%E0%B8%B4%E0%B8%99%E0%B9%80%E0%B8%94%E0%B8%B5%E0%B8%A2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B9%80%E0%B8%99%E0%B8%9B%E0%B8%B2%E0%B8%A5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B8%A7%E0%B8%B1%E0%B8%94.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%9E%E0%B8%A1%E0%B9%88%E0%B8%B2169.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%A0%E0%B8%B9%E0%B8%8F%E0%B8%B2%E0%B8%99.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%AD%E0%B8%B4%E0%B8%99%E0%B9%82%E0%B8%94%E0%B8%99%E0%B8%B5%E0%B9%80%E0%B8%8B%E0%B8%B5%E0%B8%A2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%A8%E0%B8%A3%E0%B8%B5%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%B2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/%E0%B8%A1%E0%B8%AB%E0%B8%B1%E0%B8%AA%E0%B8%88%E0%B8%A3%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%A5%E0%B8%B2%E0%B8%A7.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 order-1 col-md-6 order-md-0"><img src="/images/Untitled-1-p-800.jpeg" class="img-fluid"></div>
        <div class="col-12 order-0 col-md-6 order-md-1">
          <h2 class="text-primary">ทำไมถึงเลือกเทพอุดมธรรม?</h2>
          <p class="fs-4">เทพอุดมธรรมได้ร่วมมือกับประเทศที่จัดเตรียมสถานที่ที่สวยงามกว่า 30 แห่งให้คุณได้เพลิดเพลินและพักผ่อนในเวลาว่างจากความเร่งรีบและคึกคักของชีวิตนี้ ไม่ต้องกังวลคุณจะไม่สูญเสียเพราะเทพอุดมธรรมมีไกด์นำเที่ยวมืออาชีพ 10+ คนด้วย ลูกค้า 5.k+ ของเราพอใจกับบริการที่เรามีให้ ดังนั้นสิ่งที่คุณรอ? มาวางแผนวันหยุดของคุณกับเรากันเถอะ!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container">
      <h2 class="text-primary text-center mb-3">ปลายทางยอดนิยมสำหรับคุณ</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/387096-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">นครวัด</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">India is located in Southern Asia bordering the Arabian Sea and the Bay of Bengal.</p>
              </div>
              
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">อินเดีย</div>
              </div>
              <a href="/india" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/757543819-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">เนปาล</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Sinja Valley, thought to be the place of origin of the Khasas and the Nepali</p>
              </div>
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">เนปาล</div>
              </div>
              <a href="/nepal" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/1042590064-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">ศรีลังกา</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">The Sigiriya (&quot;Lion Rock&quot;), a rock fortress and city.</p>
              </div>
              <div class="d-flex mb-3">
                <img src="/images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ศรีลังกา</div>
              </div>
              <a href="/srilanka" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/328520822-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">พม่า</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Pagodas and kyaungs in present-day Bagan, capital of the Pagan Kingdom.</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">พม่า</div>
              </div>
              <a href="/myanmar" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div style="padding-bottom:calc(100%/4*3); position:relative">
              <img src="/images/6194941223-169a329566-b-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">อินเดีย</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Candi Borobudur viewed from the northwest. The monument was mentioned</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">กันพูชา</div>
              </div>
              <a href="/cambodia" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/นครวัด_กัมพูชา_Angkor_wat_Combodia_1-1024x683-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">นครวัด</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">ภาพบริเวณลานระเบียงแห่งเกียรติยศ  ในปี ค.ศ. 2019 ก่อนเข้าสู่ภายในนครวัด</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">อินโดนีเซีย</div>
              </div>
              <a href="/indonesia" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div style="padding-bottom:calc(100%/4*3); position:relative">
              <img src="/images/369806540-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">บาหลี</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">The Mother Temple of Besakih, one of Bali&#x27;s most significant Hindu temples.</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ลาว</div>
              </div>
              <a href="laos" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-img-box">
              <img src="/images/1220684515-min.jpg" class="card-img-top card-img-fit-parent-box" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">ภูฏาน</h5>
              <div class="card-text-box overflow-hidden mb-2">
                <p class="card-text">Bhutan, shaded in green in the center of three Himalayan regions</p>
              </div>
              <div class="d-flex mb-3">
                <img src="images/geo-alt-fill.svg" loading="lazy" alt="" class="pe-2">
                <div class="card-position-text">ภูฏาน</div>
              </div>
              <a href="/bhutan" class="btn btn-primary stretched-link">สถานที่ท่องเที่ยวเพิ่มเติม</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); %>
  <script src="dist/index.bundle.js"></script>
</body>
</html>