<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Apr 08 2022 22:53:39 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="624a8df3b328213dc1dd2238" data-wf-site="6249a010e2c35a26129c907b" lang="th">
<head>
  <%- include('country-head'); %>
</head>
<body>
  <div class="section mb-3">
    <%- include('navbar'); %>
  </div>
  <div class="section mb-5">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">หน้าหลัก</a></li>
          <li class="breadcrumb-item active" aria-current="page">อินเดีย</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="section mb-5">
    <div class="container mb-3">
      <h1 class="fw-bold text-center text-primary mb-3">อินเดีย</h1>
      <div id="card-list" class="row"></div>
    </div>
    <div class="container mb-3 d-none">
      <form id="add-article-form" action="#">
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input class="form-control mb-2" type="text" id="headline-image" placeholder="Image URL" aria-label="readonly input example" readonly>
          <input class="form-control" type="file" id="headline-image-upload">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="headline-title">
        </div>
        <div class="mb-3">
          <label for="brief" class="form-label">Brief</label>
          <input type="text" class="form-control" id="headline-brief">
        </div>
        <button type="submit" class="btn btn-primary">เพิ่มชื่อเรื่อง</button>
      </form>
    </div>
  </div>
  <%- include('footer') %>
  <script src="dist/headline.bundle.js"></script>
</body>
</html>