<!DOCTYPE html>
<html lang="th">
<head>
  <%- include('head'); %>
</head>
<body>
  <%- include('navbar'); %>
  <div class="section mb-5">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <h1 class="text-center">ผู้ดูแลระบบเข้าสู่ระบบ</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <form action="#" id="rd-sign-in-form" name="email-form" data-name="Email Form" class="form-2">
            <label for="rd-email" class="form-label">Email address</label>
            <input type="email" class="form-control mb-3" name="email" placeholder="Email" id="rd-email">
            <label for="rd-password" class="form-label">Password</label>
            <input type="password" class="form-control mb-3" name="password" placeholder="Password" id="rd-password" required>
            <button type="submit" id="rd-login-button" class="btn btn-primary">LOGIN WITH EMAIL</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); %>
  <script src="/dist/login.bundle.js"></script>
</body>
</html>