<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img class="me-3" src="/images/logo_256x256.png" height="64" alt="logo">
      <div>
        <h4 class="m-0">เทพอุดมัธรรม</h4>
        <h6 class="m-0">ใบอนุญาติเลขที่ 11/09584</h6>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-3 fw-bold">
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="/">หน้าหลัก</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/about">เกี่ยวกับ</a>
        </li>
        <li class="nav-item px-2 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            จุดหมายปลายทาง
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/india">อินเดีย</a></li>
            <li><a class="dropdown-item" href="/nepal">เนปาล</a></li>
            <li><a class="dropdown-item" href="/srilanka">ศรีลังกา</a></li>
            <li><a class="dropdown-item" href="/myanmar">พม่า</a></li>
            <li><a class="dropdown-item" href="/cambodia">กัมพูชา</a></li>
            <li><a class="dropdown-item" href="/indonesia">อินโดนีเซีย</a></li>
            <li><a class="dropdown-item" href="/laos">ลาว</a></li>
            <li><a class="dropdown-item" href="/bhutan">ภูฏาน</a></li>
          </ul>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/contact">ติดต่อเรา</a>
        </li>
      </ul>
    </div>
  </div>
</nav>