
<%if (pathname){ %>
<%  var pathname = null;%>
<%}%>
<%if (auth){ %>
  <%  var auth = null;%>
  <%}%>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAYOK BLOG</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-icons.css">
    
    <style>
      .breadcrumb {
        background-color: transparent;
      }
      .text-primary {
        color: #00cc99 !important;
      }
      .post {
        line-height: 1.8;
      }
    </style>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-4 mb-3 border-bottom">
          <div class="container-fluid">
            <a class="navbar-brand fs-4" href="/blog">
              <i class='bi-bootstrap-fill'></i>  
              RAYOK BLOG
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link <% if(pathname == '/'){ %>active<% } %> fs-5" <% if(pathname == '/'){ %>aria-current="page"<% } %> href="/blog">部落格</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <% if(pathname == '/msgboard'){ %>active<% } %> fs-5" <% if(pathname == '/msgboard'){ %>aria-current="page"<% } %> href="/blog/msgboard">留言板</a>
                </li>
              </ul>
              <% if(!auth){%>
              <div class="navbar-nav d-lg-none">
                <a href="/blog/login" class="btn btn-outline-primary me-lg-2" role="button">登入</a>
                <a href="/blog/register" class="btn btn-primary" role="button">註冊</a>
              </div>
              <%} else{%>
              <div class="navbar-nav d-lg-none">
                <a href="/blog/logout" class="btn btn-outline-primary me-lg-2" role="button">登出</a>
                <a href="/user" class="btn btn-primary" role="button">個人頁面</a>
              </div>
              <%}%>
            </div>
            <% if(!auth){%>
            <div class="navbar-nav d-none d-lg-block">
              <a href="/blog/login" class="btn btn-outline-primary me-2" role="button">登入</a>
              <a href="/blog/register" class="btn btn-primary" role="button">註冊</a>
            </div>
            <%} else{%>
            <div class="navbar-nav d-none d-lg-block">
              <a href="/blog/logout" class="btn btn-outline-primary me-2" role="button">登出</a>
              <a href="/blog/user" class="btn btn-primary" role="button">個人頁面</a>
            </div>
            <%}%>
          </div>
        </nav>
      </div>